@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background: #252525;
    font-family: "Poppins";
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 2rem;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.pizza-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 4rem;
}

.pizza-form {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.input-container {
    display: flex;
    flex-direction: row;
}

.input-number {
    display: flex;
    background-color: #3b3b3b;
    outline: none;
    border: none;
    padding: 15px 10px;
    border-radius: 0px 8px 8px 0px;
    width: 250px;
    color: white;
    padding-left: 5px;
}

.input-number::placeholder {
    color: #808080;
    font-size: 0.9rem;
}

.input-container img {
    width: 34px;
    background-color: #3b3b3b;
    border-radius: 8px 0px 0px 8px;
    padding: 0.7rem;
}

.buscar-btn {
    background: #282828;
    outline: none;
    border: 0px solid;
    padding: 10px 40px;
    border-radius: 8px;
    font-size: 13px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.gradient-span {
    background: #12c2e9;
    background: -webkit-linear-gradient(135deg, #cb5eee 0%, #4be1ec 100%);
    background: linear-gradient(135deg, #cb5eee 0%, #4be1ec 100%);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    font-weight: 700;
}

.card {
    width: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    color: #fff;
}

.card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.error-message {
    color: red;
    margin-top: 10px;
}


@media (max-width: 576px) {
    .input-text {
        width: 100%;
    }


    .pizza-container {
        padding: 2rem 1rem;
        justify-content: center;
        align-items: center;
    }

    .pizza-form{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}